.readerMenu {
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.readerContent {
    border: 1px solid #666666;
    height: 95%;
    width: 100%;
    display: flex;
}

.renderReaderButton {
    height: 100%;
    width: 100%;
    border: 1px solid #666666;
}