.home-container {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url('./library.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.home-header h1 {
    margin: 0;
    font-size: 2.5em;
}

.home-header p {
    font-size: 1.2em;
}

.home-content {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.feature h2 {
    margin-top: 0;
    color: #4CAF50;
}

.home-footer {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-top: auto;
}
